

APP_ENV=development
APP_PORT=8000
LOG_LEVEL=info
SECRET_KEY=changeme-generate-a-random-secret
WEB_CONCURRENCY=1

DB_ENGINE=sqlite

SQLITE_PATH=./data/logmon.db


MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_DATABASE=logdb
MARIADB_USER=loguser
MARIADB_PASSWORD=logpass
MARIADB_ROOT_PASSWORD=root123
MARIADB_URL=mysql+asyncmy://${MARIADB_USER}:${MARIADB_PASSWORD}@${MARIADB_HOST}:${MARIADB_PORT}/${MARIADB_DATABASE}


POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=logdb
POSTGRES_USER=loguser
POSTGRES_PASSWORD=logpass
POSTGRES_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
MSSQL_SA_PASSWORD=Alec2026!SecureSQL
ACCEPT_EULA=1
SQLSERVER_DATABASE=logdb
SQLSERVER_URL=mssql+pymssql://${SQLSERVER_USER}:${MSSQL_SA_PASSWORD}@${SQLSERVER_HOST}:${SQLSERVER_PORT}/${SQLSERVER_DATABASE}


MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=logdb
MONGO_URL=mongodb://${MONGO_HOST}:${MONGO_PORT}/${MONGO_DATABASE}

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}